<div class="container">
  <h2 class="subtitle">To Do Lists </h2>
    

</div>

<mat-spinner *ngIf="loading"></mat-spinner>


<mat-action-list class="container" *ngIf="!loading">
  <ng-container *ngFor="let list of lists">
	<div class="flexbox">

    		<button mat-list-item routerLink="tasks/{{list.id}}">
    			<div class="mat-list-item-text" >{{list.title}}</div>
    	 	</button>
    
    		<app-delete-button (click)="openDialog(list.id)"></app-delete-button>

    	</div>
	</ng-container>
  <mat-list-item disabled *ngIf="!lists.length"> <h5 style="text-align:center">There aren't lists</h5></mat-list-item>
</mat-action-list>

<div class="container">
	<app-add-button (newList)="addNewList($event)"></app-add-button>
</div>

