<div class="container">
	<div class="title-container">
	<h1 class="title" color="primary">SimpleList</h1>
	<p class="subtitle">Created by Enrique Rodriguez</p>
</div>
<hr class="divider">
<div class="paragraph-container">
	<h2 class="heading">What SimpleList is</h2>
	<p class="paragraph"> SimpleList is a web app for to create to do lists, these lists can be used in 	your day-in-day for organizes yourself your work, your life, your homeworks, your projects.
		You can create an acccount, allow you save all your data, so you will access to all your lists wherever you want and whenerver you want.
	</p>

	<p class="paragraph">
		This app has been created by Enrique Rodriguez.
	</p>
</div>
<hr class="divider">
<div class="paragraph-container">
	<h2 class="heading">Features</h2>
	<ul class="paragraph">
		<li class="list-item">It's Simple</li>
		<li class="list-item">Lightweight</li>
		<li class="list-iten">Minimal Design</li>
		<li class="list-item">Useful</li>
		<li class="list-item">Helpful</li>
		<li class="list-item">Data Storing</li>
	</ul>
</div>

<hr class="divider">

<p class="warning">WARNING:THIS APP IS NOT FOR PERSONAL USE, IT'S JUST AN EXAMPLE APP</p>
	
</div>

