<div class="container">
	<div class="title-container">
	<h1 class="title" color="primary">SimpleList</h1>
</div>
<hr>
<h2 class="heading">Description</h2>
<p class="paragraph"> SimpleList is a web app for to create to do lists, these lists can be used in your day-in-day for
organizes yourself by orden your stuff, this app have been created by Enrique Rodriguez</p>
<hr>
<h2 class="heading">Features</h2>
<ul class="paragraph">
	<li class="list-item">it's simple</li>
	<li class="list-item">Lightweight</li>
	<li class="list-iten">Minimal</li>
	<li class="list-item">Useful</li>
</ul>
<hr>

<p class="warning">WARNING:THIS APP IS NOT FOR PERSONAL USE, IT'S JUST AN APP FOR EXAMPLES</p>
	
</div>

