<!--PROFILE COMPONENT-->
<div class="container">
	<div class="paragraph-container">
		<h1 class="title">Account</h1>
	</div>

	<hr class="divider">

	<div class="paragraph-container">

		<h2 class="heading">User Info</h2>

		<div class="field-container">
			<mat-list class="paragraph">
			<div mat-list-item class="list-item">
				<div>
					<span class="field">Username:</span>
				</div>
				<div>
					<span class="field-text">{{user.username}}</span>
				</div><!--<button (click)="openChangeUsernameDialog()" mat-icon-button><mat-icon color="primary">create</mat-icon></button>--></div>
			<div mat-list-item class="list-item">
				<div>
					<span class="field">Email:</span>
				</div>
				<div>
					<span class="field-text">{{user.email}}</span>
				</div>
				<!--<button mat-icon-button (click)="openChangeEmailDialog()"><mat-icon color="primary">create</mat-icon></button>--></div>
			<div mat-list-item class="list-item"><span class="field">password:</span><span class="field-text">******</span><!--<button mat-icon-button><mat-icon color="primary">create</mat-icon></button>--></div>
		</mat-list>
		</div>

	</div>

<!--	<hr class="divider">

	<div class="paragraph-container">
		<h2 class="warning">Danger Zone</h2>

	<div class="button-container">
		<button mat-raised-button color="warn">Delete Account</button>
	</div>
	</div> -->


</div>