.container 

	width:90%
	max-width:500px
	margin: 2rem auto

.flexbox

	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center

.mat-spinner
	margin: 1rem auto

.mat-list-option
	font-size: 20px

.text
	font-size: 18px