
<div class="container">
	<h1 class="list-title">{{list.title}}</h1>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<div class="container" *ngIf="tasks && !loading">

	<p class="text">{{  tasksDone.length +"/"+ tasks.length || 0}}</p>
	<app-progress-bar [length]="percentage" ></app-progress-bar>
	
</div>


<div class="container" *ngIf="tasks && !loading">
	 
	<mat-selection-list  #tasksList >

			<div class="flexbox" *ngFor="let task of tasks">
				<mat-list-option (click)="changeState(task)" selected="{{task.state}}" >
					{{task.title}}
				</mat-list-option>
				
				<app-options-button [itemId]="task.id" (deleteItem)="deleteTask($event)"></app-options-button>
			</div>
	</mat-selection-list>
</div>
<div class="container">
	<app-add-tasks-button [listId]="listId" (newTask)="addNewTask($event)"></app-add-tasks-button>
</div>

